<mat-toolbar color="primary">
    <span>
        <div>
            <button mat-button  routerLink="" > <mat-icon>theaters</mat-icon> Movies</button>
        </div>
    </span>
    <div>
        <button mat-button routerLink="movies/filter"><mat-icon>search</mat-icon>Search Movies</button>
    </div>
    <div>
        <button mat-button  routerLink="genres" > Genres</button>
    </div>
    <div>
        <button mat-button  routerLink="actors" > Actors</button>
    </div>
    <div>
        <button mat-button  routerLink="movietheaters" > Movie Theaters</button>
    </div>
    <div>
        <button mat-button  routerLink="movies/create" > Create Movie</button>
    </div>
</mat-toolbar>
